@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    /*--color-primary: #01a74b;
    --color-bg-dark-green: #002e14;*/
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* 🔥 ADD THESE */

    --color-primary: #01a74b;
    --color-dark-green: #002e14;
    --color-processing: #ffcc4d;
    --color-link: #0cf285;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
/* Hide scrollbar (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
    scrollbar-width: none;
}

/* Hide scrollbar (IE/old Edge) */
.no-scrollbar {
    -ms-overflow-style: none;
}
